<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>CreateCharacterServlet</servlet-name>
    <servlet-class>servlets.CreateCharacterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateCharacterServlet</servlet-name>
    <url-pattern>/createCharacter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteCharacterServlet</servlet-name>
    <servlet-class>servlets.DeleteCharacterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteCharacterServlet</servlet-name>
    <url-pattern>/deleteCharacter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>selectCharacterServlet</servlet-name>
    <servlet-class>servlets.SelectCharacterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>selectCharacterServlet</servlet-name>
    <url-pattern>/selectCharacter</url-pattern>
  </servlet-mapping>


</web-app>
